RAG Pipeline & chatbot.json
{
  "name": "RAG Pipeline & chatbot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1g4zAgxZ7oRgYOe5qyVdryHqAUzkBnIWc",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1g4zAgxZ7oRgYOe5qyVdryHqAUzkBnIWc"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        -96
      ],
      "id": "b0ed7385-51ad-4011-a1d1-9857c0c5b18d",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lHhiCx2FmTSh6zL5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -16,
        -112
      ],
      "id": "55ea0b78-a06b-473d-ae7e-046e64f4c7ff",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lHhiCx2FmTSh6zL5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        128
      ],
      "id": "e3a07fb6-7a39-4d7b-b7df-2c280d84d10c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "5iF7KmnOYeUACFvu",
          "name": "abupi"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        336,
        96
      ],
      "id": "e7d65940-d3f0-4387-8ab9-ff6c8428477f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        256,
        240
      ],
      "id": "f97cc4b7-4e0c-4b6c-b0cb-a02f2e7bf697",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        192,
        -112
      ],
      "id": "a8038284-4316-4e63-89ee-c9bdd842e0e3",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "yuLr9ls463yjy0jo",
          "name": "pineconefinal"
        }
      }
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        880,
        -144
      ],
      "id": "de6de1ab-e43a-4807-821b-fb2f7b55e3ed",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        640,
        -144
      ],
      "id": "cc0c95c7-e211-42d5-9a24-c831c017b910",
      "name": "When chat message received",
      "webhookId": "7acf6b69-28db-4883-9171-94a1adb57ebe"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.5-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        752,
        64
      ],
      "id": "e9eba3ce-43eb-44e1-bae4-bad418ca7f86",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "3HOxRrZlpHPJ23cU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "knowledgebase",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1104,
        48
      ],
      "id": "eeae2fc5-5a26-4182-9174-d5fe5c834f54",
      "name": "Pinecone Vector Store1",
      "notesInFlow": true,
      "credentials": {
        "pineconeApi": {
          "id": "yuLr9ls463yjy0jo",
          "name": "pineconefinal"
        }
      },
      "notes": "You are a helpful teacher preparing exam answers for students.  \nWhen a question is asked, first confirm by asking:  \n“Is this question for 5 marks or 10 marks?”  \n\nOnce the mark is given:  \n- If it is 5 marks → give a short, simple, and to-the-point answer.  \n- If it is 10 marks → give a longer, detailed answer with clear explanation and examples.  \n- Always use easy and simple language so students can quickly understand.  \n- Structure the answer neatly in points or short paragraphs.  \n- Keep answers exam-ready and not too complex.\n"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1200,
        176
      ],
      "id": "d1ffd36c-01af-4f6b-bdf0-41cb4701fd73",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "5iF7KmnOYeUACFvu",
          "name": "abupi"
        }
      }
    },
    {
      "parameters": {
        "content": "RAG Pipeline & Chatbot\n",
        "height": 80,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        64,
        -240
      ],
      "id": "fb037991-8c55-454e-bd64-905d1f4e0915",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f4416e58-e86d-4576-973d-2ef1f99a3700",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f78614b053ac5df65ea90d479cbe44eea3f3dab92c1e93a716a4d2ecf5d90ea"
  },
  "id": "zmGHlxWAFyJjwo2p",
  "tags": []
}